.f-carousel {
  max-width: 80%;
  margin: 0 auto;
}

.f-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-carousel__slide img {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

#myCarousel {
  max-width: 640px;
  margin: 0 auto;
}

#myCarousel .f-carousel__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
