.section-1 {
  .section-1-left {
  }
  .section-1-right {
    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .price {
        color: #e25050;
        font-weight: 600;
        font-size: 21px;
      }
      .product-code {
        margin-left: 10px;
        font-weight: 600;
      }
      a {
        color: #000000;
      }
    }
    .color {
      display: flex;
      flex-direction: column;
      gap: 3px;
      span {
        font-weight: 600;
      }
      border-bottom: 1px solid #525252;
      margin-bottom: 10px;
    }
    .product-policy {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 10px;
      .product-policy-item {
        width: 50%;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        span {
          margin-left: 15px;
        }
      }
    }
    .help {
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid #b9b9b9;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      span {
        color: #525252;
        font-weight: 500;
      }
    }
  }
  .tab-link {
    .btn-tab-link {
      font-weight: 700 !important;
      font-size: 16px;
      /* margin: 8px; */
      border: none;
      background: white;
      border-right: 1px solid;
      line-height: 0.5;
      padding: 10px;
    }
  }
}
