.white-bg {
  background-color: #fff !important;
}
.scroll-header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.menu-button {
  .button {
    color: #333333;
    cursor: pointer !important;
    &:hover {
      color: #a51e27;
    }
  }
}
